<!-- FONTS -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Raleway:100"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat"
  rel="stylesheet"
  type="text/css"
/>

<!-- PAGE STUFF -->
<button (click)="getHtml()">HTML TO PDF</button>
<div class="rela-block page" *ngIf="PDFGEN">
  <div class="rela-block top-bar">
    <div class="caps name">
      <div class="abs-center">{{ data.name }}</div>
    </div>
  </div>
  <div class="side-bar">
    <p>{{ data.address1 }}</p>
    <p>{{ data.address2 }}</p>
    <p>{{ data.mobile }}</p>
    <p>{{ data.email }}</p>
    <p>{{ data.web }}</p>
    <br />
    <p class="rela-block caps side-header">Expertise</p>
    <p
      class="rela-block list-thing"
      *ngFor="let expect of data.Expertise; let i = index"
    >
      {{ expect }}
    </p>
    <p class="rela-block caps side-header">Education</p>
    <p
      class="rela-block list-thing"
      *ngFor="let edu of data.education; let i = index"
    >
      {{ edu }}
    </p>
  </div>
  <div class="rela-block content-container">
    <h2 class="rela-block caps title">{{ data.title }}</h2>
    <div class="rela-block separator"></div>
    <div class="rela-block caps greyed">Profile</div>
    <p class="long-margin">
      {{data.Profile}}
    </p>
    <div class="rela-block caps greyed">Experience</div>
<div *ngFor="let job of data.jobs;" class="jobs">
    <h3>{{job.jobtitle}}</h3>
    <p class="light">{{job.joindate}}</p>
    <p class="dark">Projects</p>
    <p
    class="rela-block list-thing"
    *ngFor="let jo of job.projects; let i = index"
  >
    {{ jo }}
  </p>
  </div>
   
  </div>
</div>
<iframe width="100%" height="100%" [src]="src" *ngIf="!PDFGEN" frameborder="0"></iframe>

